<div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
        <div class="section-title flexbox horizontal center">
            <%= @station.name%>
        </div>
        <div class="flexbox">
            <%= link_to "View All Stations", stations_path%> 
        </div>
        <div class="flexbox vertical stretch">
            <% if @bikes.present? %>
                <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
            <% else %>
            <div class="empty">
                No bikes found.
            </div>
            <% end %>
        </div>
    </div>
</div>