<!--Logged in Nav Bar template. (Currently only used for map)-->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style = "background-color: #85C83E">
    <a class="dropdown-toggle fit-width" data-toggle="dropdown" href="#"> Menu
        <span class="caret"></span></a>
        <ul class="dropdown-menu" style="padding-left:10px;">
          <li><a href="/home">Home</a></li>
          <li><a href="/registrations/new">Sign Up</a></li>
          <li><a href="/sessions/new">Sign in</a></li>
        </ul>
    </a>

    <!-- Button Images -->
    <ul class="navbar navbar-expand-lg navbar-light navbar-fixed-top navbar-right">
      <li><a href="/registrations/new"><span class="glyphicon glyphicon-user px-4 fit-width"></span> Sign up</a></li>
      <li><a href="/sessions/new"><span class="glyphicon glyphicon-log-in px-4 fit-width"></span> Sign in</a>
    </ul>
  </nav>