<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div style="background-color:black;color:white;padding:20px;" class="section-title flexbox horizontal center">
      Here Are Our Bike Stations:
    </div>  
    <div style="background-color:rgb(96,96,96);color:white;padding:20px;" class="flexbox vertical stretch">
      <% if @stations.present? %>
        <div class="record-row header flexbox horizontal justify-space-between">
          <% if params[:reverse].blank? || params[:reverse] == "0" %>
            <a href="<%= stations_path(params: [reverse:1])%>">Sort &#8595;</a>
          <% else %>
            <a href="<%= stations_path %>">Sort &#8593;</a>
          <% end %>
        </div>
        <%= render(partial: "stations/row", collection: @stations, as: :station) %>
      <% else %>
      <div class="empty">
        No stations found.
      </div>
      <% end %>
    </div>
    <a style="padding:20px;"class="toggle" href="<%= bikes_path %>">View All Bikes</a>
	</div>
</div>




