/* <%= stylesheet_link_tag "constantPageStyle"%>
use that erb tag in the html files.*/

#home{ 
    background-color: lightgreen;
    height: fit-content;
    padding-bottom: 100px;;

}
#home .title{
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px 4px  rgb(19, 93, 45);
    color:black;
    font-size: 40px;
    font-family: 'Brush Script MT', cursive;
}

#home .description{
    text-align: center;
    background-color: rgba(133, 209, 133, 0.299); 
    margin-inline: auto;
    height: fit-content;
    width: 400px;
    color:black;
    padding: 50px;
    text-decoration: none;
    font-size: large;
    font-family:  "Comic Sans MS", "Comic Sans", cursive;

}



#form { /*this will apply to every form, this is an ID selector. in div id="form" */
    padding:10px; 
    margin:50px; 
    max-width:fit-content;
    margin-inline: auto;
    background-color:grey; 
    border: 2px solid rgb(128, 222, 160);
    outline-style: outset;
    outline-color: rgb(19, 93, 45);
    color:white;
    text-align: center;
    font-size: large;
    font-family:  "Comic Sans MS", "Comic Sans", cursive;
}

#form .title, .description{ /*this is for the forms h1 and h3 headers. all items with class name in div matching one of these. only will apply to forms (i think)*/
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}

#form .field, .start_time, .end_time, .actions{
    padding:5px;
}




/*use this for row displayed pages*/
.record-row{
    padding: 0.5cm,0.5cm,0.5cm,0.5cm;
    line-height: 1.25cm;
}

.record-row.header{
    background: rgb(211, 211, 211)
}

.record-row.header a:hover{
    color: green;
}

.record-row.even{
    background: lightgreen;
    padding: 5px;
    
}
.record-row.even .ident{
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 10px;
}
.record-row.even .info{
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 100px;
    right: 100px;
}

.record-row.even .rent{
    text-align: right;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 90%;
}
.record-row.odd{
    background-color: rgba(133, 209, 133, 0.299);
    padding: 5px;
    color: white;
    
}
.record-row.odd .ident{
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 10px;
}
.record-row.odd .info{
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 100px;
    right: 100px;
}

.record-row.odd .rent{
    text-align: right;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 90%;
}




/*for pages with header footer and little content.*/
#container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: large;
    font-family:  "Comic Sans MS", "Comic Sans", cursive;
}

#footer{
    margin-top: auto;
    width: 100%;
}




/*for discount table.*/
.discounts{
    padding:20px; 
    margin-top:50px; 
    max-width:fit-content;
    margin-inline: auto;
    background-color:lightgray; 
    border: 2px solid rgb(128, 222, 160);
    outline-style: outset;
    outline-color: rgb(19, 93, 45);
    height:fit-content; 
    color:black;
    text-align: center;
}


table, th, td{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1.5px solid white;
    border-collapse: collapse;
    border-style: outset;
    justify-content: space-evenly;
}



/*use this for row displayed on PLACEHOLDER ONLY*/
.rec-stations-row{
    padding: 0.5cm,0.5cm,0.5cm,0.5cm;
    line-height: 1.25cm;
}

.rec-stations-row.header{
    padding-left: 10px
}

.rec-stations-row.header a:hover{
    color: green;
}

.rec-stations-row.even{
    background: lightgreen;
    color:black;
    padding-left: 10px;
    padding-right: 10px;
    
}
.rec-stations-row.even .ident{
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 10px;
}
.rec-stations-row.even .info{
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 100px;
    right: 100px;
}

.rec-stations-row.even .rent{
    text-align: right;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 90%;
}

.rec-stations-row.odd{
    background: rgba(133, 209, 133, 0.299); 
    color:white;
    padding-left: 10px;
    padding-right: 10px;
}
.rec-stations-row.odd .ident{
    text-align: left;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 10px;
}
.rec-stations-row.odd .info{
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 100px;
    right: 100px;
}

.rec-stations-row.odd .rent{
    text-align: right;
    display: inline-flex;
    flex-wrap: wrap;
    position: sticky;
    left: 90%;
}

.rec-stations-row.odd .bike_link{
    color: white;
    text-decoration: overline;
    text-decoration: underline;
}

.rec-stations-row.even .bike_link{
    color: black;
    text-decoration: overline;
    text-decoration: underline;
}




/*used for user profile display*/

.user-info-header{
    margin-top: 25px;
    max-height: fit-content;
    margin-inline: auto;
    background-color:rgba(133, 209, 133, 0.299); 
    border: 2px solid rgb(128, 222, 160);
    outline-style: outset;
    outline-color: rgb(19, 93, 45);
    height:fit-content; 
    color:black;
    padding: 10px;
    text-align: center;
}

.user-info{
    background-color: lightgrey;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(128, 222, 160);
    outline-style: outset;
    outline-color: rgb(19, 93, 45);
    justify-content: space-evenly;
    padding: 500px

}


/*about page*/
.about-header{
    margin-top: 25px;
    max-height: fit-content;
    margin-inline: auto;
    background-color:rgba(20, 162, 20, 0.529); 
    border: 2px solid rgb(128, 222, 160);
    outline-style: outset;
    outline-color: rgb(19, 93, 45);
    height:fit-content; 
    color:white;
    text-align: center;
    text-decoration: underline;
}

.about-description{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    background-color: lightgray;
    padding:20px;
    border: 2px solid rgb(128, 222, 160);
    outline-style: outset;
    outline-color: rgb(19, 93, 45);
}


.cropimg{
    position: center; /* Position image absolutely */ 
    top: -20px; /* Adjust vertical position */ 
    left: 100px; /* Adjust horizontal position */ 
    /* Optional: Use object-fit to control how the image is resized */ 
    object-fit: cover; /* This will cover the area without distorting */ 
    width: 500; /* Maintain aspect ratio */ 
    height: 300;
}